body {
    background-color: aliceblue;
}
* {
    box-sizing: border-box;
}

footer {
    height: 30px;
    width: 100vw;
    position: sticky;
    background-color: coral;
    bottom: 2px;
    text-align: center;
}

header {
    height: auto;
    min-height: 90px;
    width: 100%;
    background-color: coral;
}

nav {
    height: auto;
    width: 180px;
    float: left;
    margin-inline-end: 50px;
}

nav a {
    font-style: unset;
    font-size: large;
}
ul li {
    height: 40px;
    width: 32%;
    display: inline-block;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;

    /* border-top: none; */
    text-align: center;
    background-color: coral;
    padding: 0px;
}

ol li {
    height: 40px;
    width: 100%;
    display: inline-block;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;
    text-align: center;
    background-color: coral;
    padding: 0px;
}
ol {
    display: none;
    margin-top: 20px;
    width: 16.5%;
}

li.hidden_menu{
    position: relative;
}

div.content {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    height: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
h1 {
    text-shadow: 20px 7px rgba(159, 158, 158, 0.411);
}

h2 {
    margin-top: 0px;
    color: coral;
}

h3 {
    text-align: center;
    margin-top: 0px;
}

ul,
ol {
    padding: 0px;

    font-size: medium;
}

p {
    text-indent: 20px;
}

hr {
    width: 70vw;
    height: 10px;
    background-color: rgb(122, 122, 122);
    border-radius: 5px;
    clear: both;
}

a {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    /* font-style: italic; */
}
ol.hidden_menu {
    position: absolute;
}
img {
    margin: 10px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
div.left {
    width: 550px;
}
div.right {
    width: 50%;
}
ul li.menu:hover ol {
    display: block;
    
}
