body {
    background-color: rgb(84, 90, 146);
}


form {
    width: 300px;
    height: 300px;
    background-color: rgb(80, 87, 94);
    border-radius: 10px;
    border: 5px solid rgba(55, 18, 104, 0.678);
    position: relative;
    margin: 5px auto 0px;
}

input:required {
    background-color: tomato;
}

input:valid {
    background-color: rgb(150, 139, 224);
}

.btn-secondary {
    background-color: slateblue;
}

label {
    display: block;
    color: white;
    text-align: center;
    margin-top: 5px;
}

p {
    color: rgb(28, 147, 184);
    font-weight: bolder;
    margin-bottom: 0%;
}


input.login {
    border: none;
    border-bottom: black 2px solid;
    background-color: rgb(80, 87, 94);
    width: 98%;
    color: white;
}

input.submit {
    position: relative;
    margin-left: 109px;
    margin-right: 109px;
    margin-top: 20px;
}

input.pass {
    border: none;
    border-top: black 2px solid;
    background-color: rgb(80, 87, 94);
    width: 98%;
    margin-bottom: 0px;
    /* margin-top: 1rem; */
    color: white;
}

span {
    margin-left: 50%;
}